[workspace]
members = ["minijinja", "examples/*", "benchmarks", "minijinja-*"]
exclude = ["examples/README.md"]
resolver = "2"

[workspace.metadata.dist]
cargo-dist-version = "0.12.0"
ci = ["github"]
installers = ["shell", "powershell"]
targets = ["aarch64-apple-darwin", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu", "x86_64-unknown-linux-musl", "x86_64-pc-windows-msvc"]
pr-run-mode = "plan"
precise-builds = true

[profile.release]
strip = true

[profile.dev.package.insta]
opt-level = 3

[profile.dev.package.similar]
opt-level = 3

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
