[package]
name = "minijinja-py"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "minijinja_py"
crate-type = ["cdylib"]

[dependencies]
minijinja = { version = "0.29.0", path = "../minijinja", features = ["source", "json", "urlencode"] }
pyo3 = { version = "0.17.3", features = ["extension-module", "serde"] }
