[package]
name = "minijinja-py"
version = "2.4.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "minijinja_py"
crate-type = ["cdylib"]

[dependencies]
axominijinja = { version = "2.4.0", path = "../minijinja", features = ["loader", "json", "urlencode", "fuel", "preserve_order", "speedups", "custom_syntax"] }
once_cell = "1.17.0"
pyo3 = { version = "0.21.1", features = ["extension-module", "serde", "abi3-py38"] }
