[package]
name = "benchmarks"
version = "0.1.0"
edition = "2018"

[features]
speedups = ["minijinja/speedups"]

[dependencies]
handlebars = "4.3.6"
liquid = "0.26.0"
minijinja = { path = "../minijinja", default-features = false, features = ["unstable_machinery", "multi-template", "builtins", "key_interning"] }
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"
tera = "1.17.1"
askama = "0.11.1"

[dev-dependencies]
criterion = { version = "0.4.0", features = ["html_reports"] }

[[bench]]
name = "templates"
harness = false

[[bench]]
name = "comparison"
harness = false
