name: Tests

on: [push, pull_request]

jobs:
  test-latest:
    name: Test on Latest
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Test
        run: make test

  build-old-stable:
    name: Build on 1.45.0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.45.0
          profile: minimal
          override: true
      - name: Build
        run: cargo build --features=unstable_machinery,builtins,source,json,urlencode,debug,internal_debug
        working-directory: ./minijinja
        env:
          CARGO_NET_GIT_FETCH_WITH_CLI: "true"
          CARGO_HTTP_MULTIPLEXING: "false"

  test-stable:
    name: Test on 1.56.1
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.56.1
          profile: minimal
          override: true
      - name: Test
        run: make test
